.externallinks {
  .projects-row {
    color: $dark-grey;
    text-align: center;
    .project-col {
      width: 25rem;
      height: 20rem;
      margin-bottom: 2rem;

      .project-container {
        border: 1px solid $light-grey;
        border-radius: 5px;
        color: $dark-grey;
        font-weight: bold;

        img {
          transition: all 1s ease-in-out;
        }

        &:hover {
          text-decoration: none;
          color: $highlight-dark;
          cursor: pointer;
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
