.about {
  .description {
    display: block;
    text-align: justify;
    .external-profiles {
      .fab {
        &:hover {
          color: $highlight-dark;
          cursor: pointer;
        }
      }
    }
  }
}
